services:
    glance:
        container_name: glance
        image: glanceapp/glance
        restart: unless-stopped
        volumes:
            - ${GLANCE_CONFIG_PATH}:/app/config
        ports:
            - 9191:8080
        networks:
            - newt_network

networks:
    newt_network:
        external: true
