services:
    jellyseerr:
        image: ghcr.io/fallenbagel/jellyseerr:latest
        init: true
        container_name: jellyseerr
        environment:
            - LOG_LEVEL=debug
            - TZ=America/Chicago
        ports:
            - ${JELLYSEERR_PORT}:5055
        volumes:
            - ${JELLYSEERR_CONFIG_PATH}:/app/config
        restart: unless-stopped
        networks:
            - newt_network

networks:
    newt_network:
        external: true
