services:
    homepage:
        image: ghcr.io/gethomepage/homepage:latest
        container_name: homepage
        ports:
            - 3000:3000
        volumes:
            - ${HOMEPAGE_CONFIG_PATH}:/app/config
            - ${HOMEPAGE_IMAGES_PATH}:/app/public/images
            - /var/run/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations
        environment:
            HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_HOST_URL} # See gethomepage.dev/installation/#homepage_allowed_hosts
        networks:
            - newt_network

networks:
    newt_network:
        external: true
